* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* fuentes
font-family: 'Dancing Script', cursive;
font-family: 'Slabo 27px', serif; */
body {
    background-image: url(../resources/patternpad.svg);
    font-family: 'Slabo 27px', serif;
}

.nav__logo-titulo {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

.nav__logo {
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.carrusel__img {
    width: 70vw;
    height: 500px;
}

.main__nos {
    display: flex;
    justify-content: center;
}

.main__img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.main__texto {
    text-align: justify;
}
.texto__nos{
    background-color: rgba(0, 0, 0, 0.932);
}

/* Productos */
.contenedor__carrito{
    display: flex;
    flex-direction: column;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.price {
    color: white;
    font-size: 2rem;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/*  */

/* Footer */
.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.footer__nav li {
    list-style: none;
}

.footer__nav li a {
    text-decoration: none;
    color: white;
}

.footer__nav li a:hover {
    color: gray;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__redes a {
    text-decoration: none;
    color: white;
}

.footer__redes a:hover {
    color: gray;
}

.footer__img {
    width: 35px;
    height: 35px;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__logo-img {
    width: 220px;
    height: 100px;
}

/* MEDIAQUERIE PARA TABLET */
@media (min-width:576px) and (max-width: 992px) {}

/* MEDIAQUERIE PARA CELULAR */
@media (min-width:320px) and (max-width: 575px) {
    .ocultar {
        display: none;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}