*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
/* fuentes
font-family: 'Dancing Script', cursive;
font-family: 'Slabo 27px', serif; */
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Slabo 27px', serif;
}
.nav__logo-titulo{
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}
.nav__logo{
    width: 50px;
    height: 50px;
}
.carrusel__img{
    width: 100%;
    height: 500px;
}
.main__nos{
    display: flex;
    justify-content: center;
}
.main__img{
    width: 80%;
    height: 450px;
    border-radius: 10px;
}
.main__texto{
    text-align: justify;
}
/* Productos */
.container-card {
    position: relative;
    width: 280px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-titulo {
    color: rgb(255, 255, 255);
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 35px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-card:hover .image {
    opacity: 0.3;
}

.container-card:hover .middle {
    opacity: 1;
}

.text {
    background-color: #787e7c;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
}

.text:hover {
    color: black;
}
/* Footer */
.footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.footer__nav li{
    list-style: none;
}
.footer__nav li a{
    text-decoration: none;
    color: white;
}
.footer__nav li a:hover{
    color: gray;
}
.footer__redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__redes a{
    text-decoration: none;
    color: white;
}
.footer__redes a:hover{
    color: gray;
}
.footer__img{
    width: 35px;
    height: 35px;
}
.footer__logo{
    display: flex;
    justify-content: center;
}
.footer__logo-img{
    width: 220px;
    height: 100px;
}
/* MEDIAQUERIE PARA TABLET */
@media (min-width:576px) and (max-width: 992px){
}
/* MEDIAQUERIE PARA CELULAR */
@media (min-width:320px) and (max-width: 575px){
.ocultar{
    display: none;
}
}